.home {
 background: url('../../assets/imgs/home/background-home-mobile.jpg') center no-repeat;
 background-size: cover;
 width: 100%;
 height: 100vh;
}

/* tablet */
@media(min-width: 768px) {
 .home {
  background: url('../../assets/imgs/home/background-home-tablet.jpg') center no-repeat;
  background-size: cover;
 }
}

/* desktop */
@media(min-width: 1024px) {
 .home {
  background: url('../../assets/imgs/home/background-home-desktop.jpg') center no-repeat;
  background-size: cover;
 }
}
