.destination {
 @apply flex flex-col justify-between items-center md:pt-0 ml-auto mr-auto h-screen;
}


.destination {
 background: url('../../assets/imgs/destination/background-destination-mobile.jpg') center no-repeat;
 background-size: cover;
 width: 100%;
 height: 100vh;
}

/* tablet */
@media(min-width: 768px) {
 .destination {
  background: url('../../assets/imgs/destination/background-destination-tablet.jpg') center no-repeat;
  background-size: cover;
 }
}

/* desktop */
@media(min-width: 1024px) {
 .destination {
  background: url('../../assets/imgs//destination/background-destination-desktop.jpg') center no-repeat;
  background-size: cover;
 }
}
